*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 20px;
     font-family: cursive;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: azure;
}
nav a{
    display: inline-block;
    padding-block: 2px;
    padding-inline: 5px;
    margin-block: 5px;
    margin-inline: 10px;
}

.outer-box{
    display: flex;
    min-height: 700px;
    border: 1px solid red;
}

.left-box{
    width: 20%;
    height:inherit;
}

.right-box{
    width: 80%;
    height:inherit;
    border: 1px solid red;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.pdt{
    border: 1px solid #FA8072;
    height: max-content;
    width: max-content;
    border-radius: 4px;
    overflow: hidden;
}

.img-box{
    height: 180px;
    width: 160px;
    margin-inline: center;
    padding: 20px;
}

.img-box > img{
    object-fit:contain;
}

.pdt-name{
    /* margin-block: 5px; */
    font-size: 18px;
}

.panel{
    padding: 5px;
    background-color: beige;
    
}